<nav>
  <a routerLink="/edit-flat">Edit flat</a>
  <a routerLink="/new-flat">New flat</a>
  <a routerLink="/favourites">Favourites</a>
  <a routerLink="/my-flats">My flats</a>
  <a routerLink="/search">Search</a>
  <a routerLink="/view-flat">View flat</a>
</nav>

<nav>
  <ul>
    <li><a routerLink="/edit-flat">Edit flat</a></li>
    <li><a routerLink="/new-flat">New flat</a></li>
    <li><a routerLink="/favourites">Favourites</a></li>
    <li><a routerLink="/my-flats">My flats</a></li>
    <li><a routerLink="/search">Search</a></li>
    <li><a routerLink="/view-flat">View flat</a></li>
  </ul>
</nav>