/* 浮層背景 */
.register-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/register-bg-img.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center; 
  align-items: center;    
  overflow: auto;
  z-index: 1000;
  animation: fadeIn 0.5s ease;
}

/* 半透明遮罩 */
.register-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3); 
  z-index: 1;
}

/* Header */
.home-header {
  position: absolute;
  top: 30px;
  left: 60px;
  right: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.lang-switch button {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  opacity: 0.5;
}

.lang-switch button.active {
  opacity: 1;
  font-weight: bold;
}

.menu-btn {
  background: none;
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

/* 登入卡片 */
.register-card {
  position: relative;
  z-index: 2; /* 保證在遮罩上方 */
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  width: 600px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  /*text-align: center;*/

  /* 向上滑入動畫 */
  transform: translateY(50px);
  opacity: 0;
  animation: slideUp 0.5s forwards;
}

/* Form 樣式 */
.register-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-card input {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.register-card button {
  margin-top:15px;
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color: #BC9F77;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.register-card button:hover {
  background-color: #e3c190;
  color: #a98f6a;
}

/* 動畫 */
@keyframes slideUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
