<div class="register-overlay">
  <a class="logo" routerLink="/home">FlatFinder</a>
  <div class="register-card" *ngIf="showLogin">
    <h2 style="color: #BC9F77;">Create an Account</h2>
    <form (ngSubmit)="onLogin()">
      <input type="fullname" [(ngModel)]="fullname" name="fullname" placeholder="Full Name" required>
      <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required>
      <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required>
      <input type="country" [(ngModel)]="country" name="country" placeholder="Country/Region" required>
      <input type="phonenumber" [(ngModel)]="phonenumber" name="phonenumber" placeholder="Phone Number" required>
      <button type="submit">Submit</button>
    </form>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </div>
</div>
